/* Footer styles */
.footer {
    background-color: rgb(17, 25, 39); /* Dark background color */
    color: white; /* White text color */
    padding: 20px 0; /* Add padding for spacing */
    text-align: center; /* Center-align text */
    position: fixed; /* Fixed position at the bottom */
    left: 0; /* Align to left */
    bottom: 0; /* Align to bottom */
    width: 100%; /* Full width */
  }
  
  .footer p {
    margin: 0; /* Remove default margin */
  }
  
  .footer a {
    color: white; /* White color for links */
    text-decoration: none; /* Remove underline from links */
  }
  
  .footer-text {
    font-size: 14px; /* Adjust font size */
  }
  
  .footer-copyright {
    font-size: 12px; /* Adjust font size */
  }
  